<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Luxury<span>Rentals</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa-solid fa-bars"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/info/about" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="/cars/all" class="nav-link">Cars</a></li>
                    <li class="nav-item"><a href="/chauffeurs/all" class="nav-link">Chauffeurs</a></li>
                    <li class="nav-item"><a href="/cars/pricing" class="nav-link">Pricing</a></li>
                    <li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
<!--                    <li class="nav-item"><a href="info/contact" class="nav-link">Contact</a></li>-->
                    <li class="nav-item"><a href="/users/logout" class="nav-link">Logout</a></li>
                    <th:block sec:authorize="hasRole('ADMIN')">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/chauffeurs/add">Add Chauffeur</a>
                                <a class="dropdown-item" href="/cars/add">Add Car</a>
                            </div>
                        </div>
                    </th:block>

                </th:block>

                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a th:href="@{/info/about}" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="/cars/all" class="nav-link">Cars</a></li>
                    <li class="nav-item"><a href="/chauffeurs/all" class="nav-link">Chauffeurs</a></li>
                    <li class="nav-item"><a href="/cars/pricing" class="nav-link">Pricing</a></li>
<!--                    <li class="nav-item"><a href="/info/contact" class="nav-link">Contact</a></li>-->
                    <li class="nav-item"><a href="/users/login" class="nav-link">Login</a></li>
                    <li class="nav-item"><a href="/users/register" class="nav-link">Register</a></li>
                </th:block>

            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
</body>
</html>