<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head}"></head>
  <body>
	  <nav th:replace="~{fragments/navbar}"></nav>
      <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/about.2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container" th:action="@{/info/about}" th:method="get">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs">
                <span class="mr-2">
                    <a href="/">Home <i class="fa-solid fa-house"></i> </a>
                </span>
                <span>About us
                    <i class="fa-solid fa-address-card"></i>
                </span>
            </p>
            <h1 class="mb-3 bread">About Us</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-about">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/about.jpg);">
					</div>
					<div class="col-md-6 wrap-about ftco-animate">
	          <div class="heading-section heading-section-white pl-md-5">
	          	<span class="subheading">About us</span>
	            <h2 class="mb-4">Welcome to Luxury Car Rentals</h2>

	            <p>Luxury Car Rentals was established back in 2007 as one of the first of its kind Luxury rent-a-Car services.</p>
                <p>Our initial aim was to create a company where people come, not only to rent a vehicle but also get the best experience possible. We have grown a lot since then and now we also offer a lot more to our customers than just a vehicle you rent for the weekend.</p>
	            <p>Since we always strive to have the best customer experience, now we offer  to you a personal chauffeur, airport transfers and a lot more. We are proud of the services we offer and we are glad to see that so many of you have enjoyed your experience with us.</p>
                <p><a href="//TODO" class="btn btn-primary py-3 px-4">Search Vehicle</a></p>
	          </div>
					</div>
				</div>
			</div>
		</section>


      <section class="ftco-section testimony-section bg-light">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
              <span class="subheading">Testimonial</span>
              <h2 class="mb-3">Happy Clients</h2>
            </div>
          </div>
          <div class="row ftco-animate">
            <div class="col-md-12">
              <div class="carousel-testimony owl-carousel ftco-owl">
                <div class="item">
                  <div class="testimony-wrap rounded text-center py-4 pb-5">
                    <div class="user-img mb-2" style="background-image: url('/images/person_1.jpg')">
                    </div>
                    <div class="text pt-4">
                      <p class="mb-4">Very pleasant staff!! Helped with directions and had nice personalities. Everyone I saw had a smile!! Thank-you!</p>
                      <p class="name">James Roberts</p>
                      <span class="position">CEO</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap rounded text-center py-4 pb-5">
                    <div class="user-img mb-2" style="background-image: url('/images/person_2.jpg')">
                    </div>
                    <div class="text pt-4">
                      <p class="mb-4">This was one of the BEST rental car experiences that we have ever had! The staff helped us to get a car that fit all of our luggage when the initial one didnt and the rate was far better than any other companies. Thanks for the great experience!!</p>
                      <p class="name">John Cooper</p>
                      <span class="position">Real Estate Developer</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap rounded text-center py-4 pb-5">
                    <div class="user-img mb-2" style="background-image: url('/images/person_3.jpg')">
                    </div>
                    <div class="text pt-4">
                      <p class="mb-4">The staff was excellent! We were promptly picked up and taken to the airport. The whole experience was 'uneventful' which is all a person could ask for. There were absolutely no problems and any questions we had initially were answered thoroughly.</p>
                      <p class="name">Jessica Thomas</p>
                      <span class="position">UI Designer</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap rounded text-center py-4 pb-5">
                    <div class="user-img mb-2" style="background-image: url('/images/person_4.jpg')">
                    </div>
                    <div class="text pt-4">
                      <p class="mb-4">The service was fantastic! Was picked up on time, loved the car, and the staff was incredibly knowledgeable and helpful. Would definitely rent from here again.</p>
                      <p class="name">Ralph Richardson</p>
                      <span class="position">Web Developer</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap rounded text-center py-4 pb-5">
                    <div class="user-img mb-2" style="background-image: url('/images/person_5.jpg')">
                    </div>
                    <div class="text pt-4">
                      <p class="mb-4">It was an excellent service and the car was in perfect conditions. I really appreciate this service and I recommend it.</p>
                      <p class="name">Monica Andrews</p>
                      <span class="position">System Analyst</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="ftco-counter ftco-section img bg-light" id="section-counter">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="text text-border d-flex align-items-center">
                  <strong class="number" data-number="15">0</strong>
                  <span>Year <br>Experienced</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="text text-border d-flex align-items-center">
                  <strong class="number" data-number="120">0</strong>
                  <span>Top <br>Partners</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="text text-border d-flex align-items-center">
                  <strong class="number" data-number="7590">0</strong>
                  <span>Happy <br>Customers</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="text d-flex align-items-center">
                  <strong class="number" data-number="27">0</strong>
                  <span>Total <br>Branches</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer th:replace="~{fragments/footer}"></footer>

  <!-- loader -->
  <div th:replace="~{fragments/loader}"></div>
    
  </body>
</html>