<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintenance</title>

    <style>
            body {
                margin: 0;
                padding: 0;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    </style>
</head>
<body>
    <div style="font-size: 30px">The site is currently under maintenance.</div>
    <div style="font-size: 30px">Please come back after midnight.</div>
</body>
</html>